* {
  box-sizing: border-box;
}

body {
  background: #663399;
  color: white;
  line-height: 1.6;
  font-family: sans-serif;
  padding: 1rem;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  color: #fff;
  text-align: center;
}

.wrapper {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.wrapper > * {
  padding: 1rem;
}

.company-info {
  border-radius: 10px 10px 0 0;
  background: #8f74a5;
}

.company-info h3,
.company-info ul {
  text-align: center;
}

.company-info h3 {
  margin: 0 0 1rem 0;
}

.company-info ul {
  margin: 0;
}

.contact {
  color: #8f74a5;
  background: #fdf7ff;
}

/* Form */

.contact form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form input,
.contact form textarea,
.contact form button {
  border: 1px solid #8f74a5;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
}

.contact form button {
  width: 100%;
  padding: 0.75rem 1rem;
}

.contact form button {
  color: #fff;
  background: #364955;
  border: none;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #8f74a5;
  outline: none;
  transition: background 250ms ease-out;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2rem;
  }

  .company-info {
    border-radius: 10px 0 0 10px;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }

  .contact form {
    grid-template-columns: 1fr 1fr;
  }

  .contact form .full {
    grid-column: span 2;
  }
}
